<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
  <header>
    <!-- include header partial -->
    <% include ./partials/_header %>
  </header>
  <section class="postbox">
    <h4><%= locals.title %></h4>
    <p><a href="<%= locals.url %>"><%= locals.url %></a></p>
    <p><%= locals.description %></p>
    <!-- insert tags here -->
    <div class="margin-top">
      <p class="text-muted">Comments:</p>
      <div id="comments" data-first="<%= locals.firstName %>">
      <ul>
        <li>This is such a cool resource! - <span>Billy J</span></li>
      </ul>
      <h4>Add a comment</h4>
      <div class="form-group">
        <textarea class="form-control" type="text" name="comment" id="comment" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Post comment</button>
      </div>
    </div>
  </section>

  <section>

  </section>
  
  <footer class="footer mt-auto py-3">
    <!-- include footer -->
    <% include ./partials/_footer %>
  </footer>
  </body>
</html>