<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
  <header>
    <!-- include header partial -->
    <% include ./partials/_header %>
    <h3>My resources</h3>
  </header>
  
  <section class="resources">
    <article class="box">
      <h4>Added by me:</h4>
      <section>
        <ul class="card-columns">
          <% for (let post of myPosts) { %>
          <li class="card" data-post-id="<%= post.id%>">
            <h5><%= post.title%></h5>
            <a href="#"><%= post.url%></a>
          </li>
          <% } %>
        </ul>
      </section>
    </article>
    <article class="box">
      <h4>Liked by me:</h4>
      <section>
        <ul class="card-columns">
          <% for (let post of likedPosts) { %>
          <li class="card" data-post-id="<%= post.id%>">
            <h5><%= post.title%></h5>
            <a href="#"><%= post.url%></a>
          </li>
          <% } %>
        </ul>
      </section>
    </article>
  </section>
  
  <footer class="footer mt-auto py-3">
    <!-- include footer -->
    <% include ./partials/_footer %>
  </footer>
  </body>
</html>
